*{
    padding: 0%;
    margin: 0%;
    font-family: 'Cambria';
}

.logo {
    width: 30%;
}

header, main {
    background-color: #e0e0db;
}

header {
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none !important;
}

.botones {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mediaLogo {
    width: 5%;
}

.hero {
    width: 35%;
    
}

.intro {
    padding-top: 3%;
    font-size: 50px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
}

.introtxt {
    padding-top: 5%;
    width: 50%;
}

h2 {
    padding-top: 10%;
    padding-bottom: 5%;
}

.parte2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 15x;
    
}

p{
    padding: 2% 0 2% 0;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5%;
}

.image {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    
    padding: 2%;
}

.imageImg {
    display: block;
    width: 100%;
}

.imageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e0e0db;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.imageTitle {
    font-size: 50px;
    font-weight: bolder;
}

.imageOverlay:hover {
    opacity: 1;
}




.parteV {
    display: flex;
}

.berissoV {
    width: 10%;
}


.info {
    display: flex;
    flex-direction: column;
    margin: 3% 60% 5% 3%;
    
}

footer{
    display: flex;
    background-color: #2a2829;
    color: white;
}

video {
    padding: 2%;
    width: 50%;
}

.parteV {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}

h2 {
    font-size: 50px;
}

.docuText {
    font-size: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

.docu {
    display: flex;
}